<div class="main-container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>{{(book | async)?.title}}</mat-card-title>
            <mat-card-subtitle>{{(book | async)?.author}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

            <mat-list-item>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT58P55blSKZmf2_LdBoU7jETl6OiB2sjYy9A&s" alt="">
            </mat-list-item>

            <mat-list-item>
                Nota: <app-stars></app-stars>
            </mat-list-item>

            <mat-list-item>
                Número de Páginas: {{(book | async)?.pages}}
            </mat-list-item>

            <mat-list-item>
                Preço: R${{(book | async)?.price}}
            </mat-list-item>

            <mat-list-item>
                Quantidade em estoque: {{(book | async)?.quantity}}
            </mat-list-item>

            <mat-list-item>
                Ano: {{(book | async)?.year}}
            </mat-list-item>

            <mat-list-item>
                <mat-chip-set>
                    @for (genre of (book | async)?.genres; track $index) {
                        <mat-chip>{{genre}}</mat-chip>
                    }
                </mat-chip-set>
            </mat-list-item>

        </mat-card-content>
    </mat-card>
</div>